@tailwind base;
@tailwind components;
@tailwind utilities;


.form-checkbox{
    @apply w-4 h-4 text-primary-600  border-gray-300 rounded focus:ring-primary-500 dark:focus:ring-primary-600  focus:ring-2 
}

[id^="google-visualization-errors"] {
    display: none;
}

* { -webkit-tap-highlight-color: rgba(0,0,0,0); }

@media screen and (-webkit-min-device-pixel-ratio:0) {
    select,
    textarea,
    input {
        font-size: 16px;
    }
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
    select:focus,
    textarea:focus,
    input:focus {
        font-size: 16px;
    }
}